.code-container {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

textarea {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
